@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700&family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f1ff;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
section {
  max-width: 870px;
  background: #fff;
  margin: 0 285px 25px 285px;
  padding: 30px;
  border-radius: 5px;
}
h1 {
  padding-bottom: 30px;
  margin-top: 0px;
}
.top-players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 22px;
}
.top-player {
  display: flex;
  align-items: center;
}
.img-player {
  width: 56px;
  padding-right: 16px;
}
.img-player img {
  width: 100%;
}
hr {
  margin: 30px 0;
  color: #d1d1d1;
}
.top-blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 48px;
  grid-row-gap: 20px;
}
.top-blog {
  display: flex;
  /* align-items: flex-end; */
}
.blog-img {
  max-width: 177px;
  padding-right: 16px;
}
.blog-img img {
  width: 100%;
  object-fit: cover;
}
.blog-info p,
a {
  color: #9f9f9f;
  font-size: 16px;
}
.blog-info a {
  color: #562eff;
  text-decoration: none;
}
h2 {
  font-size: 20px;
  font-weight: 500;
}
.latest-courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
}
.latest-course {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  max-width: 242px;
  box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 11px;
}
.course-img {
  max-width: 224px;
}
.course-img img {
  width: 100%;
}
.course-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-basis: 60%;
}
small {
  font-size: 14px;
  color: #ed6b4f;
  font-weight: 400;
}
.rating-duration {
  padding-top: 19px;
  display: flex;
  justify-content: space-between;
  font-size: 14.69px;
}
.fa-star.fill {
  color: #ffc014;
}
.fa-star {
  color: #aeaeae;
  padding: 1px;
  font-size: 10px;
}
#latter-rating {
  padding-left: 5px;
}
.duration {
  color: #ff4a60;
  background: #ffe4e8;
  border-radius: 50px;
  padding: 2px 5px;
}
footer {
  background: #562eff;
  text-align: center;
  color: #fff;
  padding: 10px 0;
  font-weight: 600;
}
