@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700&family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f1ff;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
section {
  max-width: 870px;
  background: #fff;
  margin: 0 285px 25px 285px;
  padding: 30px;
  border-radius: 5px;
}
h1 {
  padding-bottom: 30px;
  margin-top: 0px;
}
.top-players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 22px;
}
.top-player {
  display: flex;
  align-items: center;
}
.img-player {
  width: 56px;
  padding-right: 16px;
}
.img-player img {
  width: 100%;
}
hr {
  margin: 30px 0;
  color: #d1d1d1;
}
.top-blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 80px;
  grid-row-gap: 20px;
}
.top-blog {
  display: flex;
  /* align-items: flex-end; */
}
.blog-img {
  max-width: 177px;
  padding-right: 16px;
}
.blog-img img {
  width: 100%;
  object-fit: cover;
}
.blog-info p,
a {
  color: #9f9f9f;
  font-size: 16px;
  line-height: 10px;
}
.blog-info a {
  color: #562eff;
  text-decoration: none;
}
h2 {
  font-size: 20px;
  font-weight: 500;
  width: 173px;
  margin-top: 3px;
}
